graft src

include AUTHORS.rst
include CHANGELOG.rst
include README.md
include MANIFEST.in

prune .tox
prune developer
prune examples
prune tests

exclude .gitattributes
exclude .gitignore
exclude tox.ini

global-exclude *.py[cod] __pycache__/* *.so *.dylib
