graft src
recursive-include docs *.bib
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.svg
recursive-include docs *.txt
prune docs/build
prune docs/src/generated_examples

include AUTHORS.rst
include CHANGELOG.rst
include README.md
include MANIFEST.in

prune .tox
prune developer
prune examples
prune tests

exclude .gitattributes
exclude .gitignore
exclude tox.ini

global-exclude *.py[cod] __pycache__/* *.so *.dylib
